<header>
  <div class="flex justify-between mx-4 my-4">
    <div>
      <a href="https://www.beed.world/" target="_blank">
        <button class="cursor-pointer transition duration-700 ease-in-out">
          <img
            src="../../../assets/logo/logo-beed.png"
            width="100"
            height="100"
            alt="logo"
          />
        </button>
      </a>
    </div>
    <div
      class="bg-lightGray w-24 h-10 rounded-3xl flex justify-center items-center desktop:mr-4"
    >
      <div class="flex gap-2">
        <span class="w-8 h-8 cursor-pointer">
          <img
            src="../../../assets/images/btn-register.png"
            width="100%"
            height="100%"
            alt="register"
          />
        </span>
        <span class="w-8 h-8 cursor-pointer">
          <img
            src="../../../assets/images/logout.png"
            width="100"
            height="100"
            alt="register"
          />
        </span>
      </div>
    </div>
  </div>
</header>
