body {
    background-color: 0056B3
}
.btn-submit {
    position: relative;
    background-color: yellow; 
    overflow: hidden;
    z-index: 1;
    transition: background-color 1s ease;
}

.btn-submit::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background-image: linear-gradient(to right, red, yellow);
    z-index: -1;
    transition: left 1s ease;
}

.btn-submit:hover::before {
    left: 0;
}
