
<section>
  <app-menu />
</section>
<section>
  <app-slider />
</section>

<section>
  <div class="flex flex-grow justify-center gap-5 pt-4 pl-2">
    <div>
      <img
        src="assets/images/img-system.png"
        width="100%"
        height="100%"
        alt=""
      />
    </div>
    <div class="mt-4 w-96">
      <div class="font-semibold text-blue desktop:text-2xl text-sm">
        Unlock Your Future with Free HyFlex Learning!
      </div>
      <p class="text-gray text-xs desktop:text-base pr-2">
        Join our
        <span class="text-red font-extrabold"> Free 3-Month</span> HyFlex
        Learning Program and take your education to the next level. But that's
        not all...
      </p>
    </div>
  </div>
</section>

<section>
  <div class="flex flex-grow justify-center bg-gradient-custom">
    <div class="flex flex-col justify-center items-center desktop:w-1/3 pl-2">
      <div class="text-blue font-semibold text-base desktop:text-2xl">
        Be one of the top 3 learners to to
        <span class="text-red font-extrabold"> win 2 years of FREE</span> HyFlex
        Learning (KSSM) with BeED,
      </div>
      <p class="text-gray text-xs desktop:text-base pt-2">
        become a BeED brand ambassador, and have your achievements showcased
        across our marketing channels.
      </p>
    </div>
    <div>
      <img
        src="assets/images/img-ambassador.png"
        width="100%"
        height="100%"
        alt=""
      />
    </div>
  </div>
</section>

<section>
  <div class="bg-red">
    <p class="text-white desktop:text-5xl text-3xl flex justify-center p-4 font-medium">
      Limited Spots Available!
    </p>
  </div>
</section>

<section>
  <div class="flex flex-col justify-center items-center">
    <div class="text-red desktop:text-2xl p-4 font-semibold">
      Only 20 seats left. Register for your spot now!
    </div>
    <div class="text-gray desktop:text-base w-96">
      Register now and secure your spot in this transformative educational
      experience. Don’t miss out on this life-changing chance. Register now and
      take your learning to the next level!
    </div>
  </div>
  <div class="flex justify-center pt-4">
    <button class="btn-submit flex items-center rounded-full w-52">
      <span class="">
        <img src="assets/images/btn-register.png" alt="" />
      </span>
      <span class="text-white m-auto text-lg font-medium"
        >join the program</span
      >
    </button>
  </div>
</section>
<!-- <section>
  <div class="flex flex-grow justify-center bg-gradient-custom mt-4">
    <app-register />
  </div>
</section> -->

<section>
  <div
    class="desktop:flex justify-center items-center bg-lightblue border-b-2 shadow-yellow-600 mt-2"
  >
    <div
      class="text-3xl desktop:text-5xl mobile:flex justify-center text-white font-medium pt-2 desktop:mr-4"
    >
      DOWNLOAD NOW!
    </div>
    <div class="flex justify-center desktop:flex-col gap-2">
      <button class="btn-down">
        <img
          src="assets/images/app-store.png"
          alt="App Store"
          class="w-6 h-6"
        />
        <span>App Store</span>
      </button>

      <button class="btn-down">
        <img src="assets/images/google-play1.png" alt="" class="w-6 h-6" />
        <span>Google Play</span>
      </button>
    </div>
    <div class="flex justify-center">
      <img src="assets/images/img-phone.png" alt="" />
    </div>
  </div>
</section>

<section class="mobile:py-4 px-4">
  <div class="flex flex-grow justify-center gap-5 pt-4">
    <div>
      <img src="assets/images/Group.png" width="495" height="357" alt="" />
    </div>
    <div class="mt-4 w-96">
      <div class="font-semibold text-blue-700 text-base desktop:text-2xl">
        Continuous learning assessment
      </div>
      <p class="text-gray-700 text-xs desktop:text-base">
        with instant feedback from our dedicated team of friendly educators.
      </p>
    </div>
  </div>

  <div class="flex flex-grow justify-center gap-5 pt-4">
    <div class="mt-4 w-96">
      <div class="font-semibold text-blue-700 text-base desktop:text-2xl">
        Enjoyable learning experience
      </div>
      <p class="text-gray-700 text-xs desktop:text-base">
        with all the multimedia-supported lessons, we provide the most
        interactive learning materials.
      </p>
    </div>
    <div>
      <img
        src="assets/images/img-crossplatform.png "
        width="495px"
        height="357px"
        alt=""
      />
    </div>
  </div>

  <div class="flex flex-grow justify-center gap-5 pt-4">
    <div>
      <img
        src="assets/images/img-journal.png"
        width="495"
        height="357"
        alt=""
      />
    </div>
    <div class="mt-4 w-96">
      <div class="font-semibold text-blue-700 text-base desktop:text-2xl">
        Systematic learning
      </div>
      <p class="text-gray-700 text-xs desktop:text-base">
        with structured scaffolded presentation of lessons, to help learners
        acquire the skills needed related to the concept.
      </p>
    </div>
  </div>

  <div class="flex flex-grow justify-center gap-5 pt-4">
    <div class="mt-4 w-96">
      <div class="font-semibold text-blue-700 text-base desktop:text-2xl">
        Join live classes and learn alongside peers
      </div>
      <p class="text-gray-700 text-xs desktop:text-base">
        making the learning process an engaging and enjoyable activity while
        getting direct feedback & support from the educator.
      </p>
    </div>
    <div>
      <img src="assets/images/img-live.png" width="495" height="357" alt="" />
    </div>
  </div>
</section>

<div class="flex justify-center pt-4">
  <button class="btn-submit flex items-center rounded-full w-52">
    <span class="">
      <img src="assets/images/btn-register.png" alt="" />
    </span>
    <span class="text-white m-auto text-lg font-medium">join the program</span>
  </button>
</div>

<section class="pt-2 pb-4">
  <app-footer />
</section>
