  <div class="flex flex-col justify-center bg-slider to-blue-950 w-full h-fit">
        <div class="triangle-square"></div>
        <span class="badge"> FOR </span>
        <span class="badge1"> FROM 3 </span>
    <div class="flex justify-center text-white ">
      <p class="desktop:w-1/4 w-72">
        <span class="desktop:text-lg mobile:text-sm text-white">
          JOIN OUR
          <mark class="bg-red text-white"> Free 3-Month</mark> Hyflex
          Learning Program <strong>STAND A CHANCE TO WIN</strong>
          <span class="pl-2 color">FREE 2 YEARS</span> HYFLEX LEARNING (KSSM)
          with BeED
        </span>
      </p>
    </div>
    <div class="flex justify-center pt-4">
      <button class="btn-submit flex items-center rounded-full w-52">
        <span class="">
          <img src="assets/images/btn-register.png" alt="" />
        </span>
        <span class="text-white m-auto text-lg font-medium"
          >join the program</span
        >
      </button>
      
    </div>
    <div class="desktop:w-1/3 m-auto">
        <img
          src="../../../assets/images/banner.png"
          width="100%"
          height="100%"
          alt="banner"
        />
      </div>
  </div>

