<section class="">
  <div class="content border-2">
    <div class="flex justify-center items-center flex-col pt-4">
      <div class="text-yellow-500 font-semibold text-3xl">AWARD-WINNING</div>
      <p class="text-blue-900">Learning Management System</p>
    </div>
    <div class="flex justify-center items-center gap-10  overflow-x-auto md:overflow-visible">
      <a href="https://www.beed.world/" class="cursor-pointer" target="_blank">
          <span class="w-20 h-25 inline-block overflow-hidden">
              <img
                  src="assets/images/img-brand/award-1.png"
                  width="100%"
                  height="100%"
                  alt=""
                  class="transform transition-transform duration-300 ease-in-out hover:scale-110"
              />
          </span>
      </a>
      <a href="https://www.beed.world/" class="cursor-pointer" target="_blank">
          <span class="w-20 h-25 inline-block overflow-hidden">
              <img
                  src="assets/images/img-brand/award-2.png"
                  width="100%"
                  height="100%"
                  alt=""
                  class="transform transition-transform duration-300 ease-in-out hover:scale-110"
              />
          </span>
      </a>
      <a href="https://www.beed.world/" class="cursor-pointer" target="_blank">
          <span class="w-20 h-25 inline-block overflow-hidden">
              <img
                  src="assets/images/img-brand/award-3.png"
                  width="100%"
                  height="100%"
                  alt=""
                  class="transform transition-transform duration-300 ease-in-out hover:scale-110"
              />
          </span>
      </a>
      <a href="https://www.beed.world/" class="cursor-pointer" target="_blank">
          <span class="w-20 h-25 inline-block overflow-hidden">
              <img
                  src="assets/images/img-brand/award-4.png"
                  width="100%"
                  height="100%"
                  alt=""
                  class="transform transition-transform duration-300 ease-in-out hover:scale-110"
              />
          </span>
      </a>
  
      <a href="https://www.beed.world/" class="cursor-pointer" target="_blank">
          <span class="w-20 h-25 inline-block overflow-hidden">
              <img
                  src="assets/images/img-brand/award-5.png"
                  width="100%"
                  height="100%"
                  alt=""
                  class="transform transition-transform duration-300 ease-in-out hover:scale-110"
              />
          </span>
      </a>
  </div>
  
  </div>
</section>

<section class="mobile:py-4 px-4">
  <div class="flex justify-center items-center flex-col mt-10">
    <img
      src="assets/logo/logo-beed.png"
      width="100"
      height="100"
      alt=""
    />
    <p class="text-gray-600 opacity-45">
      <span class="flex justify-center items-center pt-2">
        <img src="assets/images/icon-location.png" alt="" />
      </span>
      B-03-05 & 06, Sky Park One City, Jalan USJ 25/1, 47650 Subang Jaya,
      Selangor Darul Ehsan, Malaysia
    </p>
  </div>

  <div class="desktop:flex justify-center   gap-10">
    <div class="flex justify-center pb-2 gap-4">
      <span class="w-6 h-6 cursor-pointer">
        <a
          href="https://www.linkedin.com/company/beedtheworld/?viewAsMember=true"
          class="cursor-pointer"
          target="_blank"
        >
          <img
            src="assets/social/btn-linkedin.png"
            width="100"
            height="100"
            alt="linkedin"
            class="transform transition-transform duration-300 ease-in-out hover:scale-110"
          />
        </a>
      </span>
      <span class="w-6 h-6 cursor-pointer">
        <a
          href="https://www.facebook.com/beedtheworld"
          class="cursor-pointer"
          target="_blank"
          class="transform transition-transform duration-300 ease-in-out hover:scale-110"
        >
          <img
            src="assets/social/Group 1352.png"
            width="100"
            height="100"
            alt="facebook"
            class="transform transition-transform duration-300 ease-in-out hover:scale-110"
          />
        </a>
      </span>
      <span class="w-6 h-6 cursor-pointer">
        <a
          href="https://www.instagram.com/beedtheworld/"
          class="cursor-pointer"
          target="_blank"
        >
          <img
            src="assets/social/btn-instagram.png"
            width="100"
            height="100"
            alt="instagram"
            class="transform transition-transform duration-300 ease-in-out hover:scale-110"
          />
        </a>
      </span>
      <span class="w-6 h-6 cursor-pointer">
        <a
          href="assets/social/btn-instagram.png"
          class="cursor-pointer"
          target="_blank"
        >
          <img
            src="assets/social/btn-twitter.png"
            width="100"
            height="100"
            alt="twitter"
            class="transform transition-transform duration-300 ease-in-out hover:scale-110"
          />
        </a>
      </span>
      <span class="w-6 h-6 cursor-pointer">
        <a
          href="https://www.youtube.com/channel/UCsjJUQ5gNnvKYR-vTeitngw"
          class="cursor-pointer"
          target="_blank"
        >
          <img
            src="assets/social/btn-youtube.png"
            width="100"
            height="100"
            alt="youtube"
            class="transform transition-transform duration-300 ease-in-out hover:scale-110"
          />
        </a>
      </span>
    </div>
    <div class="flex flex-co-2 items-center gap-4">
      <div class="flex items-center gap-2">
        <span class="w-6">
          <img
            src="assets/social/Group 2010@2x 2.png"
            width="100"
            height="100"
            alt=""
          />
        </span>
        <span class="text-gray-600 opacity-45">{{ email }}</span>
      </div>
      <div class="flex items-center gap-2">
        <span class="w-6">
          <img
            src="assets/social/Group 2017@2x 2.png"
            width="100"
            height="100"
            alt=""
          />
        </span>
        <span class="text-gray-600 opacity-45">+ 603 5040 1788</span>
      </div>
    </div>
  </div>
</section>
